<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy" />

    <queries>
        <package android:name="com.oplus.systemui.plugins" />
    </queries>

    <application
        android:name=".LyriconApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DayNight">

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/activity_about" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/activity_settings" />

        <activity
            android:name=".activity.LicensesActivity"
            android:label="@string/activity_open_source_license" />

        <activity
            android:name=".activity.lyric.BasicLyricStyleActivity"
            android:label="@string/activity_base_lyric_style" />

        <activity
            android:name=".activity.lyric.pkg.PackageStyleActivity"
            android:label="@string/activity_package_style_manager" />

        <activity
            android:name=".activity.lyric.provider.LyricProviderActivity"
            android:label="@string/activity_lyric_provider" />

        <activity
            android:name=".activity.lyric.AnchorViewTreeActivity"
            android:label="@string/activity_anchor" />

        <activity
            android:name=".activity.lyric.ViewRulesTreeActivity"
            android:label="@string/activity_view_rules" />

        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />

        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposedminversion"
            android:value="93" />

        <meta-data
            android:name="xposedsharedprefs"
            android:value="true" />
    </application>

</manifest>
